@using System.Web
@using System.Globalization
@using Markdig

@model Web.Models.NoteViewModel

@{
    ViewData["Title"] = Model.Note.Title;
    ViewData["CurrentPage"] = "blog";
    var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
    ViewData["HideLayout"] = true;
}

<head>
    <link rel="stylesheet" href="/css/prettify.css"/>
</head>

<main>
    <h1 class="center">@Model.Note.Title</h1>
    
    <h6 class="center-info">@Model.Note.Date.ToString("dd MMMM, yyyy", CultureInfo.GetCultureInfo("en-US")) · By Demn</h6>
    <h6 class="sc">@(Model.Note.Text.Split(' ', StringSplitOptions.RemoveEmptyEntries).Length / 200)m to read</h6>
    <br/>
    <hr class="styled-hr"/>
    <br/>
    
    <p class="attention-grabber">
        @Model.Note.ShortDescription
    </p>
    
    @Html.Raw(HttpUtility.HtmlDecode(Markdown.ToHtml(Model.Note.Text, pipeline)))
</main>
<hr/>
<script src="/js/addClasses.js"></script>
<script src="/js/run_prettify.js"></script>
