@using Blog.Models
@using System.Web
@{
    Note note = ViewBag.note;
    ViewData["Title"] = note.Title;
    ViewData["CurrentPage"] = "blog";
}

<head>
    <meta charset="utf-8">
    <meta name="description" content="@note.ShortDescription">
    <meta name="author" content="demn">
    <meta name="copyright" content="demn (yes?)">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="safe for kids">

    <meta property="og:title" content="@note.Title">
    <meta property="og:site_name" content="demn's space">
    <meta property="og:url" content="https://demns.space">
    <meta property="og:description" content="@note.ShortDescription">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/69032700?v=4">
</head>

<main>
    <h1>@note.Title</h1>
    <hr>
    <br>

    <details>
        <p>@note.Date.ToShortDateString() • @note.Text?.Length symbols</p>
        @foreach (int tag in note.Tags)
        {
            @foreach (Tag t in ViewBag.tags)
            {
                @if (t.Id == tag)
                {
                    <a href="/tag/@t.Id" class="tag">@t.Text</a>
                }
            }
        }
    </details>
    
    <br>
    
    @Html.Raw(HttpUtility.HtmlDecode(note.Text))
</main>
<br>
<br>
<br>