@using Blog.Models
@using System.Web
@using Markdig
@{
    Note note = ViewBag.note;
    ViewData["Title"] = note.Title;
    ViewData["CurrentPage"] = "blog";
    var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
    ViewData["HideLayout"] = true;
}

<head>
    <link rel="stylesheet" href="/css/prettify.css"/>
</head>

<main>
    <h1 class="center">@note.Title</h1>
    
    <h6 class="center-info">@note.Date.ToString("dd MMMM, yyyy") · By Demn</h6>
    <h6 class="sc">@(note.Text?.Split(' ', StringSplitOptions.RemoveEmptyEntries).Length / 200)m to read</h6>
    <br/>
    <hr class="styled-hr"/>
    <br/>
    
    <p class="attention-grabber">
        @note.ShortDescription
    </p>
    
    @Html.Raw(HttpUtility.HtmlDecode(Markdown.ToHtml(note.Text!, pipeline)))
</main>
<hr/>
<script src="/js/addClasses.js"></script>
<script src="/js/run_prettify.js"></script>